{% extends "_base.html" %}

{% block title %}About Us{% endblock %}
{% block main %}
<article class="blog-post">
  <h2 class="blog-post-title mb-1">About Us!</h2>
  <p><a href="{% url 'jobs:app' %}">Need to contact us?</a></p>

  <p>Play2Learn is a fun online gaming platform. 
      Here we will provide you only interesting content, that you will enjoy!
      We're dedicated to providing you the best of Games, with a focus on Learning and Gaming</p>
  <blockquote>
    <p> Play2Learn is <strong>always</strong> happy to bring the latest games to you.</p>
  </blockquote>
  <p>We're working to turn our passion for Games into a booming online website. 
      We hope you enjoy our Games as much as we enjoy offering them to you.
      I will keep posting more important posts on my Website for all of you. 
      Please give your support and love.</p>
</article>
{% endblock %}