{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<script src="https://kit.fontawesome.com/f804978a2a.js" crossorigin="anonymous"></script>
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon1.png' %}">
{% block javascript %}{% endblock %}
<title>{% block title %}{% endblock %} | Play2Learn</title>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg bg"style="background-color: #d8b9ff ;">
    <a class="navbar-brand" href="{% url 'pages:homepage' %}">
      <img src="{% static 'images/logo1.png' %}" alt="Logo" class="img-fluid"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-expanded="false"
      aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'pages:homepage' %}">Home 
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'jokes:list' %}">Jokes</a>
        </li>
        {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Sign up</a>
          </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my-account' %}">My Account</a>
        </li>
        <li class="nav-item">
              <a class="nav-link"
              href="{% url 'jokes:creator' user.username %}?order={{ order }}&direction={{ direction }}">
              My Django Jokes
            </a>
        </li>
        <li class="nav-item">
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              <button class="btn nav-item">Log out</button>
            </form>
        </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0" action="{% url 'jokes:list' %}">
        <input class="form-control me-sm-2" type="search"
          placeholder="Search" aria-label="Search" name="q"
          value="{{ request.GET.q }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </nav>
</header>
<main class="m-4 pb-4">
  {% if messages %}
    <ul>
      {% for message in messages %}
      <div class="alert message{{ message.tags }} alert-dismissible" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="close" data-dismiss="alert"
            aria-label="Close">
            <i class="fas fa-window-close"></i>
          </button>
        </div>
      {% endfor %}
    </ul>
  {% endif %}
  {% block main %}<h2>Welcome!</h2>{% endblock %}
</main>
<footer class= " navbar fixed-bottom text-center text-white bg-dark" >
    <div class="col">
      <div class="float-end m-1 me-2">Copyright &copy; 2023 Play2Learn
      <a
          class="btn btn-link  text-light"
          href="https://twitter.com/"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-twitter"></i
        ></a>
        <a
          class="btn btn-link  text-light m-1"
          href="https://www.instagram.com/"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-instagram"></i
        ></a>
        <a
          class="btn btn-link text-light m-1"
          href="https://www.facebook.com/"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-facebook-f"></i
        ></a>
      </div>
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pages:about-us' %} ">About</a>
          </li>
          {% if user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="/admin/">Admin</a>
            </li>
          {% endif %}
          <li class="nav-item"><a class="nav-link" href="{% url 'jobs:app' %}">Contact</a></li>
        </ul>
      </nav>
    </div>
  </nav>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>